*{
    margin: 0px;
    border: 0px;
}

:root{
       --azul:#12377f;
       --vermelho: #e9110f;
       --branco:#ffffff;
       --verde:#228c22;
}

/*escondendo barra de rolagem*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/*cabeçalho*/
header{
    background-color: var(--azul);
    width:100vw;
    height:15vh;
}
#container-menu{
    background-color: #228c22;
    display: flex;
    width:90vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translate(0%,-50%);
    top: 50%;
}
#container-menu > img{
    width:150px;
    height:50px;
    border-radius:5px;
}
#container-navegador{
    display:none;
}
#menu-compactado{
    color: var(--branco);
    display: block;
    font-size:38px;
    text-align: center;
    line-height: 45px;
    top:50px;
    background-color:var(--azul);
    border-radius:50%;
    width:45px;
    height:45px;
}

/*baner*/
#APP{
    background-image: url(./imagens/ImagemVertical.jpg);
    width:100vw;
    height:85vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
}
#container-externo-app{
    background-color: #e9110f;
    width:90vw;
    margin: auto;
}
#container-interno-app{}