*{
    margin: 0px;
    border: 0px;
    font-family: "Rubik", sans-serif;
}

:root{
       --azul:#12377f;
       --vermelho: #e9110f;
       --branco:#ffffff;
       --verde:#228c22;
}

/*escondendo barra de rolagem*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/* <--- cabeçalho ---> */
header{
    background-color: var(--azul);
    width:100vw;
    height:15vh;
    z-index:0;
}
#container-menu{
    display: flex;
    width:90vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translate(0%,-50%);
    top: 50%;
    z-index:1;
}
#container-menu > img{
    width:150px;
    height:50px;
    border-radius:5px;
}


#container-navegador{
    display:none;
}

#container-navegador-mob{
    display:none;
    position: absolute;
    right: 0;
    top: 50px;
    z-index:3;
}
#container-navegador-mob > a > p{
    width:40vw;
    height:8vh;
    color: #ffffff;
    border:1px solid #ffffff;
    background-color: var(--azul);
    line-height:8vh;
    text-align: right;
    padding-right:10px;
}
#container-navegador-mob> a {
    text-decoration:none;
}


#menu-compactado{
    color: var(--branco);
    display: block;
    font-size:38px;
    text-align: center;
    line-height: 45px;
    top:50px;
    background-color:var(--azul);
    border-radius:50%;
    width:45px;
    height:45px;
}

/* <--- Baner ---> */
#APP{
    background-image: url(./imagens/ImagemVertical.jpg);
    width:100vw;
    height:85vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
}
#container-externo-app{
    width:90vw;
    height:85vh;
    margin: auto;
}
#container-interno-app{
    position: relative;
    transform: translate(-50%,-54%);
    left:50%;
    top:50%;
}
#container-interno-app > img{
    width:310px;
    height:150px;
    position: relative;
    transform: translate(-50%);
    left:50%;
    margin-left:2vw;
}



#container-conteudo-app{
    display: flex;
    flex-direction: column;
    background-color: #ffffffce;
    border-radius:10px;
}


/*titulo App*/
#conteudo-app-titulo{
    display: flex;
    position: relative;
    justify-content: center;
    gap:3vw;
    padding-top:10px;
    padding-bottom:10px;
}
#conteudo-app-titulo > img{
    width:100px;
    height:100px;
    border-radius:5px;
}
#conteudo-app-string {
    display: flex;
    flex-direction: column;
}
#conteudo-app-string > h1 {
    font-size:1.6em;
    margin-bottom:5px;
}
#conteudo-app-string > strong > p{
    margin-bottom:5px;
}
/*quadros*/
#conteudo-app-quadros{
    display:grid;
    grid-template-columns:42Vw 40Vw;
    grid-template-rows:37px 37px;
    margin: auto;
    padding-bottom:10px;
}
#conteudo-app-quadros > div > p{
    text-align: center;
    line-height:30px;
    font-size:0.9em;
    color: var(--azul);
}
.quadros{
    width:40Vw;
    height:30px;
    border: 1px solid var(--azul);
    border-radius:5px;
}

/*botão*/
#botão-download{
    display: block;
    background-color: var(--verde);
    margin: auto;
    width:75vw;
    height:45px;
    margin-top:15px;
    border-radius:10px;
}
#botão-download > p{
    color: var(--branco);
    text-align: center;
    line-height: 45px;
    font-size:1.1em;
}
#container-conteudo-horizontal > a{
    text-decoration:none;
}

/* <--- Frase de Efeito 01 ---> */

#frase_efeito_01{
    font-size:1.2em;
    text-align: center;
    width:80vw;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
}

/* <--- carrosel ---> */
#carrosel{
    width: 100vw;
    height:60vh;
    overflow: hidden;;
}
.slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider > img {
    display: block;
    max-width:100%;
}
#texto-CASA_CIA_baner{
    display:none;
}

/* <--- Frase de Efeito 02 ---> */

#frase_efeito_02{
    font-size:1.2em;
    text-align: center;
    width:80vw;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;

}


/* <--- empresa ---> */

/*Vestuarios*/
#container-moda{
    background-color: var(--azul);
}

#container-moda > h2 {
    color: #ffffff;
    padding-top:20px;
    text-align: center;
    margin-bottom:10px;
}
 #container-moda > p {
    color: #ffffff;
    width:85vw;
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
}




.container-passador{
    position: relative;
    margin: auto;
    padding-bottom:20px;
}
.passador{
    display: flex;
    overflow:hidden;
    transform: translate();
    margin: auto;
    width:85vw;
}
.estilos{ 
    position: relative;
    transform: translate(-50%);
    left:50%;
    background-color: #ffffff;
    width: 85vw;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom:5px;
    border-radius:10px;
}

.imagem-roupa {
    width:85vw;
    overflow: hidden;
    border-radius:10px 10px 0px 0px;
}


.botao_passador{
    position: absolute;
    top: 50%;
    width:40px;
    height:40px;
    border-radius:50%;
}
.esquerda{
    left: 10px;
    transform: translate(50%,-50%);

}
.direita{
    right:10px;
    transform: translate(-50%,-50%);
}


.estilos > h3{
    padding-top:5px;
    margin-left:10px;
    color: var(--azul);
}

.estilos > p{
    width:75vw;
    margin-left:10px;
    padding-bottom:10px;
}
#texto-CASA_CIA_Roupa{
    display: none;
}


/*casa*/

#Casa{
    margin: auto;
}
#Casa > h1{
    margin: auto;
    width:85vw;
    font-size:1.7em;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}
.container-icon-casa{
    display: flex;
    justify-content:center;
    align-items: center;
}
.icon-casa{
    width: 50px ;
    height:50px ;
    margin-right:10px;
}
.container-icon-casa > p{
    font-size:1.1em;
}
#Casa-itens{
    margin-bottom:20px;
}


/* <--- contatos ---> */
footer{
    background-color:black;
    width:100vw;
    text-align: center;
}
footer > h2{
    color: var(--branco);
    padding-top:20px;
    padding-bottom:20px;
}
#localização {
    padding-bottom: 20px;
}

#localização > p{
    color: var(--branco);
}
#dias-funcionamento{
    padding-bottom: 20px;
}
#dias-funcionamento > p{
    color: var(--branco);
}
#telefone{
    padding-bottom: 20px;
}
#telefone > p{
    color: var(--branco);
}

#imagens-footer{
    margin-left:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10x;
}
#facebook{
    width:47px;
    height:47px;
    margin-right:10px;
}
#instagram{
    width:79px;
    height:79px;
}
#whatsapp{
    width:70px;
    height:70px;
}